.blockHeading{
    font-weight:bold;
}

.bioImageContainer img {
    width:30vw;
}

.bioAuthorName{
    font-weight:bold;
}

@media only screen and (max-width: 480px)  {
    .bioImageContainer img {
        width:60vw;
    }

}